.cart-item {
 display: flex;
 height: 90%;

 margin: 0.5%;
 
 background-color: #dddddd;
}

.cart-item-header {
 flex-grow: 0;
 background-color: #cccccc;
 margin: 0.5%;
}
.cart-item-image {
 height: 100%;
}
.cart-item-body {
 flex-grow: 1;
 background-color: #cccccc;

 margin: 1%;
}
.cart-item-title {
 display: flex;
 justify-content: center;

 margin: 0.25%;

 font-size: 16pt;

 background-color: #bbbbbb;
}
.cart-item-description {
 display: flex;
 justify-content: center;
 font-size: 12pt;
}
.cart-item-footer {
 display: grid;
 
 justify-content: center;

 grid-template-columns: 100px 120px 50px;
 grid-template-rows: repeat(2, 50px);

 min-width: 250px;

 padding: 1%;
}
.cart-item-price {
 display: flex;

 grid-column: 1 / span 1;
 grid-row: 1 / span 1;

 justify-content: center;
 align-items: center;
 white-space: nowrap;

 padding-left: 5pt;
 padding-right: 5pt;

 background-color: #aaaaaa;
}
.cart-item-quantity {
 display: flex;

 grid-column: 0 / span 1;
 grid-row: 1 / span 1;

 justify-content: center;
 align-items: center;

 background-color: #bbbbbb;

 padding-left: 10pt;
 padding-right: 10pt;
}
.cart-item-bin-button {
 display: flex;
 justify-content: center;
 cursor: pointer; 
}
.cart-item-bin-button-image {
 height: 100%;
 
}
.cart-item-quantity-input {
 max-width: 25pt;
}
.cart-item-total-price {
 display: flex;

 grid-column: 1 / span 2;
 grid-row: 0 / span 1;

 justify-content: center;
 align-items: center;
}