.product-listing {
 display: flex;
 height: 90%;

 margin: 0.5%;
 
 background-color: #dddddd;
}

.product-listing-header {
 flex-grow: 0;
 background-color: #cccccc;
 margin: 0.5%;
}
.product-listing-body {
 flex-grow: 1;
 background-color: #cccccc;

 margin: 1%;
}
.product-listing-title {
 display: flex;
 justify-content: center;

 margin: 0.25%;

 font-size: 16pt;

 background-color: #bbbbbb;
}
.product-listing-description {
 display: flex;
 justify-content: center;
 font-size: 12pt;
}
.product-listing-footer {
 display: grid;
 
 justify-content: center;

 grid-template-columns: repeat(2, 50%);
 grid-template-rows: repeat(2, 50%);

 padding: 1%;
}
.product-listing-price {
 display: flex;

 grid-column: 1 / span 1;
 grid-row: 1 / span 1;

 justify-content: center;
 align-items: center;


 background-color: #aaaaaa;
}
.product-listing-stock {
 display: flex;

 grid-column: 0 / span 1;
 grid-row: 1 / span 1;

 justify-content: center;
 align-items: center;

 background-color: #bbbbbb;
}
.product-listing-add-cart {
 grid-column: 1 / span 2;
 grid-row: 0 / span 1;
 background-color: #cccccc;
}