<div class="cart-item">
 <div class="cart-item-header">
  <img class="cart-item-image" src="%s">
 </div>
 <div class="cart-item-body">
  <div class="cart-item-title">
   <label>%s</label>
  </div>
  <div class="cart-item-description">
   <label>%s</label>
  </div>
 </div>
 <div class="cart-item-footer">
  <div class="cart-item-price">
   <label>Cost: $%.2f</label>
  </div>
  <div class="cart-item-quantity">
   <label>Quantity:</label>
   <input class="cart-item-quantity-input" id="cart-item-quantity-input-%s" type="number" min="1" value="%u">
  </div>
  <button class="cart-item-bin-button" onclick="cart_item_bin_button_onclick(event)">
   <img class="cart-item-bin-button-image" src="/res/bin.png">
  </button>
  <div class="cart-item-total-price">
   <label>Total Cost: $%.2f</label>
  </div>
 </div>
</div>