<div class="cart-item">
 <div class="cart-item-header">
  <img class="cart-item-image" src="%s">
 </div>
 <div class="cart-item-body">
  <div class="cart-item-title">
   <label>%s</label>
  </div>
  <div class="cart-item-description">
   <label>%s</label>
  </div>
 </div>
 <div class="cart-item-footer">
  <div class="cart-item-price">
   <label>Cost: $%.2f</label>
  </div>
  <div class="cart-item-stock">
   <label>Quantity: %u</label>
  </div>
  <div class="cart-item-total-price">
   <label>Total Cost: $%.2f</label>
  </div>
 </div>
</div>