<div class="product-listing">
 <div class="product-listing-header">
  <img class="product-listing-image" src="%s">
 </div>
 <div class="product-listing-body">
  <div class="product-listing-title">
   <label>Product Listing Title</label>
  </div>
  <div class="product-listing-description">
   <label>Product Listing Description</label>
  </div>
 </div>
 <div class="product-listing-footer">
  <div class="product-listing-price">
   <label>$20</label>
  </div>
  <div class="product-listing-stock">
   <label>50</label>
  </div>
  <button class="product-listing-add-cart">Add to Cart</button>
 </div>
</div>