<div class="product-listing">
 <div class="product-listing-header">
  <img class="product-listing-image" src="%s">
 </div>
 <div class="product-listing-body">
  <div class="product-listing-title">
   <label>%s</label>
  </div>
  <div class="product-listing-description">
   <label>%s</label>
  </div>
 </div>
 <div class="product-listing-footer">
  <div class="product-listing-price">
   <label>Cost: $%.2f</label>
  </div>
  <div class="product-listing-stock">
   <label>Stock: %u</label>
  </div>
  <button class="product-listing-add-cart" id="product-listing-add-cart-%s">Add to Cart</button>
 </div>
</div>