html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}
  
body {
    margin: 0;
    background-color: #555555;
    font-family: Arial;
    height: 100%;
    width: 100%;
}
  
.order-card-list {
    display: grid;

    grid-template-columns: repeat(3, 100%);

    overflow: hidden;
    scroll-behavior: smooth;
}
.order-card-list section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, auto);
    
    margin: 40px 0;
}
.order-card-link {
    text-decoration: none;
    color: inherit;
}
.order-card-list section .item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 2px;
    transition: 250ms all;
    border-radius: 12px;
}

.order-card-list section .item:hover {
    margin: 0 30px;
    transform: scale(1.2);
}

.order-card-list section .arrow__btn {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
.order-card-list section .left-arrow {
    display: flex;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.order-card-list section .right-arrow {
    display: flex;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}